<section class="about-game" id="about">
  <div class="container about-game-container">
    <h2 class="about-game-title">ABOUT THE GAME</h2>
    <div class="about-game-wrapper">
      <h3 class="about-game-title-text">Simple start, big growth</h3>
      <p class="about-game-text">
        You'll start simple - just you, a cow, and some basic equipment - but
        before you know it, you're running a full operation.
      </p>
      <br />
      <p class="about-game-text">
        Players manage resources, upgrade equipment, and unlock new stages of
        production.
      </p>
      <br />
      <p class="about-game-text">
        The trick is knowing when to save up vs. when to splurge on upgrades -
        took me forever to figure that out!
      </p>
    </div>
  </div>
</section>
