<section class="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-header">
          <span class="faq-question">Is the game fully idle?</span>
          <div class="faq-button">
            <svg class="icon-arrow" width="12" height="12" aria-hidden="true">
              <use href="../img/right-arrow.svg"></use>
            </svg>
            <svg class="close-icon" width="12" height="12" aria-hidden="true">
              <use href="./img/sprite.svg#close"></use>
            </svg>
          </div>
        </div>
        <div class="faq-content">
          <div class="faq-text">
            It includes idle mechanics with active upgrades.
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
