<header class="footer-pages-header">
  <a
    class="footer-pages-header-nav-logo"
    href="./index.html"
    aria-label="Site logo"
  >
    <img
      class="footer-pages-header-nav-logo-img"
      src="./img/Fav-Icon.png"
      srcset="./img/Fav-Icon.png 1x, ./img/Fav-Icon2x.png 2x"
      alt="Logo"
      width="32"
      height="32"
    />
  </a>
  <button
    type="button"
    class="btn-go-back"
    onclick="window.location.href = './index.html'"
  >
    Back To Home
  </button>
</header>
