<section class="gallery">
  <div class="container gallery-container">
    <div class="gallery-content">
      <h2 class="gallery-title">Gallery</h2>
      <h3 class="gallery-h3">From small farm industry</h3>
    </div>
    <div class="gallery-grid">
      <div class="gallery-swiper">
        <button class="gallery-btn">
          <svg
            class="arrow left-arrow"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="../img//left-arrow.svg"></use>
          </svg>
        </button>
        <button class="gallery-btn">
          <svg
            class="arrow right-arrow"
            fill="none"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="../img//right-arrow.svg"></use>
          </svg>
        </button>
      </div>
      <div class="gallery-imgs"></div>
    </div>
  </div>
</section>
