<header class="header">
  <div class="header-container container">
    <div class="header-wrapper">
      <nav class="header-nav">
        <a class="header-nav-logo" href="./index.html" aria-label="Site logo">
          <img
            class="header-nav-logo-img"
            src="./img/Fav-Icon.png"
            srcset="./img/Fav-Icon.png 1x, ./img/Fav-Icon2x.png 2x"
            alt="Field Protocol logo"
            width="32"
            height="32"
          />
        </a>

        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#aboutid">ABOUT THE GAME</a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#gameplay-loopid">HOW TO PLAY</a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#featuresid">FEATURES</a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#why-downloadid">
              WHY DOWNLOAD THIS GAME
            </a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#galleryid">GALLERY</a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#reviewsid">PLAYER REVIEWS</a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#faqid">FAQ</a>
          </li>

          <li class="header-nav-item">
            <a class="header-nav-link" href="#contact-sectid">CONTACT</a>
          </li>
        </ul>
      </nav>

      <div class="header-menu">
        <button
          class="header-burger-btn"
          type="button"
          data-action="open"
          aria-label="Open menu"
          aria-expanded="false"
        >
          <svg
            class="header-burger-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="./img/sprite.svg#burger"></use>
          </svg>
        </button>

        <div class="header-burger-menu" data-visible="closed">
          <button
            class="header-btn-close"
            type="button"
            data-action="close"
            aria-label="Close menu"
          >
            <svg
              class="header-close-icon"
              width="12"
              height="12"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#close"></use>
            </svg>
          </button>

          <ul class="header-burger-list">
            <li>
              <a class="header-burger-link" data-menu-link href="#aboutid">
                ABOUT THE GAME
              </a>
            </li>

            <li>
              <a
                class="header-burger-link"
                data-menu-link
                href="#gameplay-loopid"
              >
                HOW TO PLAY
              </a>
            </li>

            <li>
              <a class="header-burger-link" data-menu-link href="#featuresid">
                FEATURES
              </a>
            </li>

            <li>
              <a
                class="header-burger-link"
                data-menu-link
                href="#why-downloadid"
              >
                WHY DOWNLOAD THIS GAME
              </a>
            </li>

            <li>
              <a class="header-burger-link" data-menu-link href="#galleryid">
                GALLERY
              </a>
            </li>

            <li>
              <a class="header-burger-link" data-menu-link href="#reviewsid">
                PLAYER REVIEWS
              </a>
            </li>

            <li>
              <a class="header-burger-link" data-menu-link href="#faqid">
                FAQ
              </a>
            </li>

            <li>
              <a
                class="header-burger-link"
                data-menu-link
                href="#contact-sectid"
              >
                CONTACT
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
