<section class="reviews" id="reviewsid">
  <div class="container reviews-container">
    <h2 class="review-title">Player Reviews</h2>
    <ul class="reviews-list">
      <li class="review-item">
        <div class="review-user">
          <h3 class="user-name">FarmBuilder</h3>
          <div class="stars-div">
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
          </div>
        </div>
        <div class="review-bubble">
          <p>
            Started with one cow, now I've got this whole industrial thing
            going. Weirdly addictive lol
          </p>
        </div>
      </li>
      <li class="review-item">
        <div class="review-user">
          <h3 class="user-name">Alex M.</h3>
          <div class="stars-div">
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#empty-star"></use>
            </svg>
          </div>
        </div>
        <div class="review-bubble">
          <p>Simple mechanics but really engaging</p>
        </div>
      </li>
      <li class="review-item">
        <div class="review-user">
          <h3 class="user-name">IdleFan</h3>
          <div class="stars-div">
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
          </div>
        </div>
        <div class="review-bubble">
          <p>Great idle game with clear upgrades</p>
        </div>
      </li>
      <li class="review-item">
        <div class="review-user">
          <h3 class="user-name">Lena G.</h3>
          <div class="stars-div">
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#empty-star"></use>
            </svg>
          </div>
        </div>
        <div class="review-bubble">
          <p>Relaxing and rewarding to play</p>
        </div>
      </li>
      <li class="review-item">
        <div class="review-user">
          <h3 class="user-name">GrowthMaster</h3>
          <div class="stars-div">
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
            <svg class="star" width="24" height="24" aria-hidden="true">
              <use href="./img/sprite.svg#filled-star"></use>
            </svg>
          </div>
        </div>
        <div class="review-bubble">
          <p>
            Love that I can let it run while I'm busy, but there's still plenty
            to think about when I want to dive in
          </p>
        </div>
      </li>
    </ul>
    <div class="reviews-imgs">
      <picture>
        <source
          srcset="./img/reviews/1x/girl.png 1x, ./img/reviews/2x/girl2x.png 2x"
        />
        <img
          class="char-girl"
          src="./img/reviews/1x/girl.png"
          alt="Girl character"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/reviews/1x/grandpa.png   1x,
            ./img/reviews/2x/grandpa2x.png 2x
          "
        />
        <img
          class="char-farmer"
          src="./img/reviews/1x/grandpa.png"
          alt="Grandpa character"
        />
      </picture>
    </div>
  </div>
</section>
