<section class="why-download">
  <div class="container why-download-container">
    <div class="why-download-wrap">
      <h2 class="why-download-title">Why Download This Game</h2>
      <p class="why-download-text">
        What I love is you can actually see your farm getting bigger - it's not
        just some boring spreadsheet with numbers.
      </p>
    </div>
    <div class="why-download-content">
      <ul class="why-download-content-list">
        <li class="why-download-content-item">
          <picture>
            <source
              srcset="
                ./img/why-download/Icons-1x.png 1x,
                ./img/why-download/Icons-2x.png 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ./img/why-download/Icons-1x.png 1x,
                ./img/why-download/Icons-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="why-download-content-img"
              src="./img/why-download/Icons-1x.png"
              alt="Constant progress"
            />
          </picture>

          <h3 class="why-download-content-title">Constant Progress</h3>
          <p class="why-download-content_text">Your farm keeps evolving</p>
          <img
            src="./img/why-download/decor.png"
            alt=""
            class="why-download-content-decor"
          />
        </li>
        <li class="why-download-content-item">
          <picture>
            <source
              srcset="
                ./img/why-download/Icons2-1x.png 1x,
                ./img/why-download/Icons2-2x.png 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ./img/why-download/Icons2-1x.png 1x,
                ./img/why-download/Icons2-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="why-download-content-img"
              src="./img/why-download/Icons2-1x.png"
              alt="Low pressure"
            />
          </picture>

          <h3 class="why-download-content-title">Low Pressure</h3>
          <p class="why-download-content_text">Play at your own pace</p>
          <img
            src="./img/why-download/decor.png"
            alt=""
            class="why-download-content-decor"
          />
        </li>
        <li class="why-download-content-item">
          <picture>
            <source
              srcset="
                ./img/why-download/Icons3-1x.png 1x,
                ./img/why-download/Icons3-2x.png 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ./img/why-download/Icons3-1x.png 1x,
                ./img/why-download/Icons3-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="why-download-content-img"
              src="./img/why-download/Icons3-1x.png"
              alt="Tough decisions"
            />
          </picture>

          <h3 class="why-download-content-title">Tough decisions</h3>
          <p class="why-download-content_text">
            Decide how to invest resources
          </p>
          <img
            src="./img/why-download/decor.png"
            alt=""
            class="why-download-content-decor"
          />
        </li>
        <li class="why-download-content-item">
          <picture>
            <source
              srcset="
                ./img/why-download/Icons4-1x.png 1x,
                ./img/why-download/Icons4-2x.png 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ./img/why-download/Icons4-1x.png 1x,
                ./img/why-download/Icons4-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="why-download-content-img"
              src="./img/why-download/Icons4-1x.png"
              alt="Unlock new stuff"
            />
          </picture>

          <h3 class="why-download-content-title">
            That awesome feeling when you unlock new stuff
          </h3>
          <p class="why-download-content_text">Watch your business scale up</p>
          <img
            src="./img/why-download/decor.png"
            alt=""
            class="why-download-content-decor"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
