@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Spinnaker&display=swap');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', 'Inter', 'Avenir', 'Helvetica', Arial, sans-serif;

  background-color: #fdfcf9;
  --green-color: #77b73d;
  --text-color: #53311E;
  --accent-yellow: #FCCB41;

  h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 125%;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 125%;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
