@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Spinnaker&display=swap');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', 'Inter', 'Avenir', 'Helvetica', Arial, sans-serif;

  background-color: #fdfcf9;
  --green-color: #77b73d;
  --text-color: #53311e;
  --accent-yellow: #fccb41;
}

header {
  padding: 16px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

body {
  padding: 40px 16px;
  width: 100%;
}

@media (min-width: 1440px) {
  .last-sect-p {
    margin: 0;
    margin-bottom: 40px;
  }

  main {
    margin-top: 90px;
    width: 100%;
  }

  button {
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px;
    border-radius: 12px;
  }

  header {
    padding: 16px 96px;
  }

  h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 125%;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 125%;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
  }

  body {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex-grow: 1;
  }
}
