.contact-sect {
  scroll-margin-top: 70px;
}

.contact-container > * {
  margin: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 80px 0 40px 0;
}
.email-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 49px;
  background-color: #fdfcf9;
  border-radius: 8px;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
}

.contact-header {
  color: #fdfcf9;
  font-size: 40px;
  line-height: 125%;
  font-weight: 800;
}

.contact-p {
  color: #fdfcf9;
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

/* Desktop */

@media (min-width: 1440px) {
  .contact-container {
    padding: 80px 0;
  }
}
