.faq {
  scroll-margin-top: 70px;
  background-image: url(../img/contact/mob/BG.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 375px auto;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .faq {
    background-image: url('../img/contact/mob/BG@2x.png');
  }
}

.faq-title {
  color: #77b73d;
  font-size: 40px;
  line-height: 125%;
  font-weight: 800;
}

.faq-item {
  background-color: #fdfcf9;
  border: 1px solid rgba(83, 49, 30, 1);
  border-radius: 12px;
  max-width: 612px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question,
.faq-text {
  margin: 0;
}

.faq-question {
  font-size: 24px;
  line-height: 125%;
  font-weight: 700;
  color: #53311e;
  letter-spacing: -1%;
}

.faq-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-button {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-button svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.faq-list {
  max-width: 612px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-text {
  overflow: hidden;
  padding: 0 24px;
  color: #53311e;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.icon-arrow {
  display: block !important ;
}

.close-icon {
  display: none !important;
}

.faq-item[data-faq-active] .faq-text {
  padding-bottom: 24px;
}

.faq-item[data-faq-active] .icon-arrow {
  display: none !important;
}
.faq-item[data-faq-active] .close-icon {
  display: block !important;
}

/* ANIMATION */
.faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.faq-item[data-faq-active] .faq-content {
  grid-template-rows: 1fr;
}

.faq-item[data-faq-active] .faq-text {
  padding-bottom: 16px;
}

@media only screen and (min-width: 1440px) {
  .faq {
    background-image: url(../img/contact/desktop/BG.png);
    background-size: 100% auto;
  }

  .faq-container {
    margin-top: 120px;
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .faq {
      background-image: url('../img/contact/desktop/BG@2x.png');
    }
  }

  .faq-item {
    width: 612px;
  }
}
