/* STATIC STYLES */

body {
  font-family: 'Poppins', 'Inter', 'Avenir', 'Helvetica', Arial, sans-serif;

  background-color: #fdfcf9;
  --green-color: #77b73d;
  --text-color: #53311e;
  --accent-yellow: #fccb41;
  color: var(--text-color);
}

/* MOBILE STYLES */

@media (max-width: 1439px) {
  .last-sect-p {
    margin: 0;
    margin-bottom: 40px;
  }
}
button {
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px;
  border-radius: 12px;
}
